*{
  margin: 0;
  box-sizing: border-box;
}
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
body{
  font-family: poppins;
  /* overflow-x: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
}